html { font-family:'Times New Roman', Times, serif; font-size:11pt; background-color:white }
table { border-collapse:collapse; page-break-after:always }
.gridlines td, .gridlines th { border:1px solid black }
.header { font-weight:bold; color:#333333;}
table.sheet0 td , table.sheet0 th{ vertical-align:middle; text-align:center; border:1px solid #000000 !important; 
    color:#000000; font-family:'Times New Roman'; font-size:11pt; }
td.style1, th.style1 {  background-color:#EAF1DD }
td.style2, th.style2 {  background-color:#E4DEEC }
td.style3, th.style3 {  background-color:#FCE9D9 }
td.style4, th.style4 {  background-color:#DBE4F1 }
td.style5, td.style5 {  background-color:#F1DBDB }
td.style6, td.style6 {  background-color:#F1F1F1}
table.sheet0 col.col0 { width:67pt }
table.sheet0 col.col1 { width:67pt }
table.sheet0 col { width:80pt }
table.sheet0 tr { height:13.95pt }
table.sheet0 tr.row0 { height:16.05pt }
table.sheet0 tr.row1 { height:16.05pt }
table.sheet0 tr.row2 { height:16.05pt }
table.sheet0 tr { height:13.95pt }
@page { margin-left: 0.75in; margin-right: 0.75in; margin-top: 0.50in; margin-bottom: 0.50in; }
body { margin-left: 0.75in; margin-right: 0.75in; margin-top: 0.50in; margin-bottom: 0.50in; }